<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="ISOS-over-ODBC.ZPM">
    <Module>
      <Name>ISOS-over-ODBC</Name>
      <Version>1.0.6</Version>
      <Description>Allow running ObjectScript and especially Global access over ODBC/JDBC</Description>
      <Keywords>Global, ODBC, SQL, COS</Keywords>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
       <Resource Name="zrcc.EX.PKG"/>
    </Module>
  </Document>
</Export>
